@charset "UTF-8";

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

header {
    display: grid;
    position: fixed;
}



img#header{
    width: 100vw;
    height: 200px;
}

nav{
    background-color: gray;
    padding: 10px;
}

a{
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

a.header:hover{
    background-color: #fff;
    color: #000;
}

#conteudo-00{
    display: grid;
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/body-home.jpeg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    justify-items: right;
}

#conteudo-01{
    display: grid;
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/fundo-body-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#conteudo-02{
    display: grid;
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/Body-conteudo-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#conteudo-03{
    display: grid;
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/fundo-body-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#conteudo-04{
    display: grid;
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/fundo-body-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#conteudo-05{
    display: grid;
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/fundo-body-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#conteudo-06{
    display: grid;
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/fundo-body-06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#conteudo-07{
    display: grid;
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/fundo-body-07.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#conteudo-08{
    display: grid;
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/fundo-body-08.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#conteudo-09{
    display: grid;
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/fundo-body-09.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#conteudo-x{
    display: grid;
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/fundo-body-X.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

audio{
    width: 10vw;
    position: fixed;
}

div.videos{
    background-color: #000;
}

video{
    margin-top: 250px;
    width: 300px;
    height: auto;
    padding: 3px;
    background-color: red;
}

source{
    
    justify-content: center;
    background: red;
}

footer{
    display: block;
    background: #000;
    margin-top: -2px;
    padding: 8px;
    text-align: center;
    
}

@media screen and (max-width: 612px)  {
    nav{
        padding: 10px; 
        padding-left: 1px;
        padding-right: 1px;
    }
}

@media screen and (max-width: 582px)  {
    nav{
        padding: 10px; 
        padding-left: 1px;
    }

    a{
        padding: 9px;
    }
}

@media screen and (max-width: 573px)   {
    nav{
        padding: 10px; 
        padding-left: 1px;
        padding-right: 1px;
    }

    a{
        padding: 9px;
        padding-left: 8px;
    }
}

@media screen and (max-width: 548px)   {
    nav{
        padding: 10px; 
        padding-left: 1px;
        padding-right: 1px;
    }

    a{
        padding: 9px;
        padding-left: 7px;
    }
}

@media screen and (max-width: 538px)   {
    nav{
        padding: 10px; 
        padding-left: 1px;
        padding-right: 1px;
    }

    a{
        padding: 9px;
        padding-left: 6px;
    }
}

@media screen and (max-width: 527px)   {
    nav{
        padding: 10px; 
        padding-left: 1px;
        padding-right: 1px;
    }

    a{
        padding: 9px;
        padding-left: 5px;
    }
}

@media screen and (max-width: 516px)   {
    nav{
        padding: 10px; 
        padding-left: 1px;
        padding-right: 1px;
    }

    a{
        padding: 9px;
        padding-left: 4px;
    }
}

@media screen and (max-width: 504px)   {
    nav{
        padding: 10px; 
        padding-left: 1px;
        padding-right: 1px;
    }

    a{
        padding: 9px;
        padding-left: 3px;
    }

   
}






